<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_COLORTOPICS}</h1>

<p>{L_ACP_COLORTOPICS_EXPLAIN}</p>


<form id="acp_captcha" method="post" action="{U_ACTION}">

<fieldset>
<legend>{L_GENERAL_OPTIONS}</legend>

<dl>
	<dt><label for="mod_active">{L_ACP_COLORTOPICS_ACTIVE}:</label><br /><span>{L_ACP_COLORTOPICS_ACTIVE_EXPLAIN}</span></dt>
	<dd><label><input type="radio" class="radio" id="mod_active" name="mod_active" value="1"<!-- IF MOD_ACTIVE --> checked="checked"<!-- ENDIF --> /> {L_ENABLED}</label>
		<label><input type="radio" class="radio" name="mod_active" value="0"<!-- IF not MOD_ACTIVE --> checked="checked"<!-- ENDIF --> /> {L_DISABLED}</label></dd>
</dl>
<dl>
	<dt><label for="topiccolor_0">{L_ACP_COLORTOPICS_TYPE_0}:</label><br /><span>{L_ACP_COLORTOPICS_TYPE_EXPLAIN}</span></dt>
	<dd><input id="topiccolor_0" type="text" size="40" maxlength="200" name="topiccolor_0" value="{TOPICCOLOR_0}" /></dd>
</dl>
<dl>
	<dt><label for="topiccolor_1">{L_ACP_COLORTOPICS_TYPE_1}:</label><br /><span>{L_ACP_COLORTOPICS_TYPE_EXPLAIN}</span></dt>
	<dd><input id="topiccolor_1" type="text" size="40" maxlength="200" name="topiccolor_1" value="{TOPICCOLOR_1}" /></dd>
</dl>
<dl>
	<dt><label for="topiccolor_2">{L_ACP_COLORTOPICS_TYPE_2}:</label><br /><span>{L_ACP_COLORTOPICS_TYPE_EXPLAIN}</span></dt>
	<dd><input id="topiccolor_2" type="text" size="40" maxlength="200" name="topiccolor_2" value="{TOPICCOLOR_2}" /></dd>
</dl>
<dl>
	<dt><label for="topiccolor_3">{L_ACP_COLORTOPICS_TYPE_3}:</label><br /><span>{L_ACP_COLORTOPICS_TYPE_EXPLAIN}</span></dt>
	<dd><input id="topiccolor_3" type="text" size="40" maxlength="200" name="topiccolor_3" value="{TOPICCOLOR_3}" /></dd>
</dl>
</fieldset>


<fieldset>
	<legend>{L_ACP_SUBMIT_CHANGES}</legend>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="main_submit" name="main_submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="form_reset" name="reset" value="{L_RESET}" />&nbsp;
	</p>
</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
